.main-nav {
  padding-left: 20px;
  min-height: 70px;
}

.nav-logo-text,
.nav-logo-text:hover {
  color: hsl(215, 100%, 19%);
}

.nav-logo-text h4 {
  font-size: 24px;
  font-weight: 700;
}

.main-menu {
  display: flex;
  font-size: 18px;
  width: 300px;
  justify-content: space-evenly;
}

.main-menu a {
  color: #00285f;
}

.main-menu a:hover {
  font-weight: bold;
}

.main-menu a.active {
  color: #00285f;
  font-weight: bold;
}

@media (min-width: 768px) {
  .navbar-collapse {
    flex-grow: 0;
  }
}

@media (min-width: 1280px) {
  .main-nav {
    padding-left: 150px;
    padding-right: 130px;
  }
}
